# config/.env.dev
# サンプル用envファイル
# EARNINGSWATCH__PATHS__DATA_DIR_PATH形式を採用

# --- Settings ---
# DatabaseのURL
EARNINGSWATCH__DATABASE__URL=database-url

# JWT秘密鍵
# openssl rand -base64 32 を実行する
EARNINGSWATCH__JWT__SECRET=insecure-secret-change-me-please-32bytes-min

# webhook暗号化保存の秘密鍵
EARNINGSWATCH__SECURITY__WEBHOOK_ENC_KEY=webhook_enc_key

# --- Settings以外 ---
# ログレベル
RUST_LOG=info

# --- compose側で使うもの ---
# Posgreのパスワード
# openssl rand -hex 32 を実行する
POSTGRES_PASSWORD=strong_postgres_password

# DatabaseのURL
DATABASE_URL=database-url