# config/.env.dev
# サンプル用envファイル
# EARNINGSWATCH__PATHS__DATA_DIR_PATH形式を採用

# --- AppConfig以外のもの ---
# ログレベル
RUST_LOG=info

# compose側で使うもの
# Posgreのパスワード
POSTGRES_PASSWORD=strong_postgres_password

# DatabaseのURL
DATABASE_URL=database-url